*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222f3e;
    color: white;
}

.formContainer{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 33px;
}


legend{
    text-align: center;
    font-size: 45px;
    padding: 10px;
}

fieldset{
    border-radius: 10px;
    padding: 10px;
    background-color: black;
}

label{
    margin: 10px;
}

input{
    width: 400px;
    padding: 5px;
    margin: 10px;
    font-size: 23px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #c8d6e5;
}

.btn_div{
    text-align: center;
    margin: 10px;
}
.submit_btn{
    font-size: 23px;
    padding: 5px;
    border-radius: 5px;
}

.loggedInDIv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.logoutBtn{
    font-size: 23px;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
}

u{
    color: white;
}

u:hover{
    color: lightblue;
}