*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #222f3e;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

h1{
    font-size: 33px;
    color: white;
}

p{
    font-size: 23px;
    margin: 20px;
}

button{
    font-size: 23px;
    padding: 5px;
    border-radius: 5px;
}