*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e272e;
    height: 100vh;
}

.container{
    max-width: 800px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_heading{
    display: flex;
    margin: 20px;
}

.todoIcon{
    font-size: 60px;
    margin: 5px;
}

.heading{
    color: #f5f6fa;
    font-size: 50px;
    margin: 5px;
}

.inputField{
    padding: 5px;
    width: 400px;
    font-size: 23px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.addItem_btn{
    padding: 5px;
    margin: 0 5px;
    font-size: 23px;
    border-radius: 0 5px 5px 0;
    /* border: none; */
    outline: none;
    background-color: #ffa801;
}

/* .itemsList{
    width: 600px;
    margin: 0 auto;
    text-align: center;
} */

.input_btn{
    margin-bottom: 50px;
}
.list{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    font-size: 33px;
    background-color: #d2dae2;
}

span{
    padding-left: 10px;
}

.trash_icon{
    color: red;
    font-size: 33px;
}